<h1>Login!</h1>

<form action="<%= session_url %>" method="POST">

  <label>
    Username:
    <input type="user_name" name="user_name" >
  </label>

  <label>
    Password:
    <input type="password" name="password" >
  </label>
  
  <input type="submit" value="Show me them cats!" >

</form>